<ion-side-menus enable-menu-with-back-views="ture">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <!-- TODO: ng repeat fra json med state som key og text som val -->
                <ion-item menu-close ng-click="goToPage('allEvents')">
                    All Events
                </ion-item>
                <ion-item menu-close ng-click="goToPage('localEvents')">
                    Local Events
                </ion-item>
                <ion-item menu-close ng-click="goToPage('gameEvents')">
                    Gaming Events
                </ion-item>
                <ion-item menu-close ng-click="goToPage('cosplayEvents')">
                    Cosplay Events
                </ion-item>
                <ion-item menu-close ng-click="goToPage('cardEvents')">
                    Card Game Events
                </ion-item>
                <ion-item menu-close ng-click="goToPage('otherEvents')">
                    Other Events
                </ion-item>
                <!-- if not logged in -->
                <ion-item menu-close ng-click="login()">
                    Login
                </ion-item>
                <!-- of logged in 
                <ion-item menu-close ng-click="addEvent()">
                    Add event
                </ion-item>
                -->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>