<ion-view>
  <ion-nav-title>{{headline}}</ion-nav-title>
  <ion-content>
    <ion-refresher on-refresh="refreshEvents()"></ion-refresher>
    <ion-list>
      <div style="text-align:center;" ng-if="!eventList[0]">No events here</div>
      <!-- get a cool icon instead -->
      <div collection-repeat="event in eventList">
        <div ng-if="newMonth(event.date_start)" class="month-splitter text-center">
          {{event.date_start | date: "MMMM yyyy"}}
        </div>
        <short-event event="event"></short-event>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
