<a class="item item-thumbnail-right" href="#" ng-click="getEventDetails(event._id)">
    <img ng-if="event.img" ng-src="{{event.img}}" />
    <!-- TODO: img and stock images -->
    <img ng-if="!event.img" ng-src="https://i.ytimg.com/vi/vfcMSDzF0hs/hqdefault.jpg" />
    <h2>{{event.name}}</h2>
    <p><i class="icon ion-location info-icon"> </i> {{event.address}}</p>
    <p><i class="icon ion-ios-clock info-icon"> </i> {{event.date_start | date:"MM/dd/yyyy 'at' h:mma"}}</p>
    <!--<p>End: {{event.date_end |date:"MM/dd/yyyy 'at' h:mma"}}</p>-->
    <!-- icons by type -->

    <div>
        <i class="icon ion-ios-game-controller-a type-icon-eventlist" ng-if="isType('lan')" title="Lan"></i>
        <i class="icon ion-tshirt type-icon-eventlist" ng-if="isType('cosplay')" title="Cosplay"></i>
        <i class="icon ion-compose type-icon-eventlist" ng-if="isType('board')" title="Board Games"></i>
        <i class="icon ion-ios-film type-icon-eventlist" ng-if="isType('other')" title="Other"></i>
    </div>
</a>