<form name="facebookForm" novalidate ng-submit="facebookForm.$valid && submitEvent(facebookForm)">
  <!-- , form validation -->
  <div class="list">
    <div class="item item-divider">
      Link to facebook event:
    </div>
    <label class="item item-input">
      <input type="text" name="facebookLink" placeholder="https://www.facebook.com/events/XXXXXXXXXXXXXX/" ng-model="facebookLink" required>
    </label>
    <div class="item item-divider">
      The event is related to:
    </div>
    <label class="item">
      <ion-checkbox class="checkbox-calm" name="gamingEvent" ng-model="lan" ng-required="atleastOneType()" ng-class="{ 'type-has-error' : atleastOneType() && facebookForm.$submitted}">Gaming</ion-checkbox>
      <ion-checkbox class="checkbox-calm" name="cosplayEvent" ng-model="cosplay" ng-required="atleastOneType()" ng-class="{ 'type-has-error' : atleastOneType() && facebookForm.$submitted}">Cosplay</ion-checkbox>
      <ion-checkbox class="checkbox-calm" name="boardEvent" ng-model="board" ng-required="atleastOneType()" ng-class="{ 'type-has-error' : atleastOneType() && facebookForm.$submitted}">Board games</ion-checkbox>
      <ion-checkbox class="checkbox-calm" name="otherEvent" ng-model="other" ng-required="atleastOneType()" ng-class="{ 'type-has-error' : atleastOneType() && facebookForm.$submitted}">Other</ion-checkbox>
    </label>
    <div class="item item-divider">
      Optional information:
    </div>
    <label class="item item-input">
      <span class="input-label">Price:</span>
      <input type="number" name="price" ng-model="event.price">
    </label>
    <div class="item" ng-show="facebookForm.$invalid || isNotValidFacebookEvent()">
      <p ng-show="isNotValidFacebookEvent()">* The facebook link is not valid</p>
      <p ng-show="atleastOneType()">* Must choose atleast one type</p>
    </div>
    <div class="padding">
      <input class="button button-block button-calm" type="submit" value="Submit event"></input>
    </div>
  </form>
</div>
