<div class="row text-center details-img-container">
  <img ng-if="event.img" ng-src="{{event.img}}"/>
  <!-- need stock img -->
  <img ng-if="!event.img" ng-src="https://i.ytimg.com/vi/vfcMSDzF0hs/hqdefault.jpg"/>
  <p ng-if="event.price > 0">
    Price:
    {{event.price}},-
  </p>
</div>

<div class="row text-center">
  <div class="col">
    <i class="icon ion-ios-game-controller-a type-icon-details" ng-class="isType('lan') ? '' : 'icon-inactive'" title="Lan"></i>
    <i class="icon ion-tshirt type-icon-details" ng-class="isType('cosplay') ? '' : 'icon-inactive'" title="Cosplay"></i>
    <i class="icon ion-compose type-icon-details" ng-class="isType('board') ? '' : 'icon-inactive'" title="Board Games"></i>
    <i class="icon ion-ios-film type-icon-details" ng-class="isType('other') ? '' : 'icon-inactive'" title="Other"></i>
  </div>
</div>

<div class="row row-center">
  <!-- ng-if? -->
  <div class="col col-20 text-center">
    <i class="icon ion-ios-clock info-icon"></i>
  </div>
  <div class="col col-60">
    <b>Start:</b>
    {{event.date_start | date:"dd/MM/yyyy 'at' H:mm"}}
    <br>
    <b>End:</b>
    {{event.date_end | date:"dd/MM/yyyy 'at' H:mm"}}
  </div>
  <div class="col col-20 text-center">
    <!-- use coords? -->
    <!-- click on text instead? -->
    <a class="info-icon-eventlist" href="#" ng-click="">
      <i class="icon ion-calendar"></i>
    </a>
  </div>
</div>
<div class="row row-center" ng-if="event.address">
  <div class="col col-20 text-center">
    <i class="icon ion-location info-icon"></i>
  </div>
  <div class="col col-60">
    {{event.address.street}}
    <br>
    {{event.address.zip_code}}
    {{event.address.city}}
  </div>
  <div class="col col-20 text-center">
    <!-- use coords? -->
    <!-- click on text instead? -->
    <a class="info-icon-eventlist" href="#" ng-click="openExternal('https://www.google.no/maps/place/{{event.address.street}},+{{event.address.zip_code}}+{{event.address.city}}')">
      <i class="icon ion-map"></i>
    </a>
  </div>
</div>
<div class="row row-center" ng-if="event.description">
  <div class="padding">
    <pre>{{event.description}}</pre>
  </div>
</div>
<div class="padding">
  <a ng-if="event.web_link" class="button button-block icon-left ion-card button-calm" ng-click="openExternal('{{event.web_link}}')">Buy ticket</a>
  <a ng-if="event.fb_link" class="button button-block icon-left ion-social-facebook button-calm" ng-click="openExternal('{{event.fb_link}}')">Go to Facebook event</a>
</div>
