<a class="item item-thumbnail-right" href="#" ng-click="getEventDetails(event._id)">
    <img ng-if="event.img" ng-src="{{event.img}}" />
    <!-- TODO: img and stock images -->
    <img ng-if="!event.img" ng-src="https://i.ytimg.com/vi/vfcMSDzF0hs/hqdefault.jpg" />
    <h2><b>{{event.name}}</b></h2>
    <p>
        <i class="icon ion-ios-clock info-icon-eventlist"> </i> {{event.date_start | date:"dd/MM/yyyy 'at' H:mm"}}
    </p>
    <p>
        <i class="icon ion-location info-icon-eventlist"> </i> {{event.address.city}}
    </p>
    <!--<p>End: {{event.date_end |date:"MM/dd/yyyy 'at' h:mma"}}</p>-->
    <!-- icons by type -->
    <div class="text-center" ng-if="event.type">
        <i class="icon ion-ios-game-controller-a type-icon-list" ng-class="isType('lan') ? '' : 'icon-inactive'" title="Lan"></i>
        <i class="icon ion-tshirt type-icon-list" ng-class="isType('cosplay') ? '' : 'icon-inactive'" title="Cosplay"></i>
        <i class="icon ion-compose type-icon-list" ng-class="isType('board') ? '' : 'icon-inactive'" title="Board Games"></i>
        <i class="icon ion-ios-film type-icon-list" ng-class="isType('other') ? '' : 'icon-inactive'" title="Other"></i>
    </div>
</a>
